spring:
  application:
    name: AI_App_Builder
    description: creating applications based on user prompt from llm

  datasource:
    url: jdbc:postgresql://localhost:5432/app_builder
    username: postgres
    password: Postgres@jobs1
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true


server:
  port: 8082